{% extends 'base.html' %}

{% block dependencies %}
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.css' rel='stylesheet' />
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
{% endblock %}

{% block style %}
  <style>
    body {
        margin:0;
        padding:0;
    }
    .map {
        position:absolute;
        left:0;
        width: 100%;
        height: 100%;
    }
  </style>
{% endblock %}

{% block content %}

  {% csrf_token %}
  <div id="map" class="map"></div>
  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYW1hdSIsImEiOiIxTmxLVWlVIn0.JJuKgBjkpUtOs0VZjtmJRw';
    var map = L.mapbox.map('map', 'mapbox.satellite').setView([20.19847, -103.71406], 15);
    var controlLayers = L.control.layers().addTo(map);
    var painted = [];
    var tags = {{ tags|safe }};
    var ZOOM_THRESHOLD = 15;

    if (map.scrollWheelZoom) {
        map.scrollWheelZoom.disable();
    }
    console.log(tags);

    var polygonLayer = L.geoJSON();
    controlLayers.addOverlay(polygonLayer, 'BITS Objects');
    polygonLayer.addTo(map);

    function loadUrl(url, callback) {
        fetch(url,{headers: {
                        'Accept': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest'
                        },
                    credentials: 'include'})
            .then((response) => response.json())
            .then(function(data) {
                callback(data);
                if(data.next) {
                    loadUrl(data.next, callback);
                }
            }).catch(function(error) {
                console.log(error)
            });
    }

    function getInfoFromArray(myarray, id, field){
        var color = null;
        myarray.forEach(function(element){
            if(element['id'] == id) {
                color = element[field];
            }
        });
        return color;
    }

    function paintPolygons(data) {
        data['results'].forEach(function(obj){
            if(painted.indexOf(obj["id"]) < 0) {
                var polygon = omnivore.wkt.parse(obj["predict_object"]["the_geom"]);
                painted.push(obj["id"]);
                var color = "#fff";
                color = getInfoFromArray(tags, obj["tag_id"], "color");
                
                polygon.on("click", function(event){
                    console.log(getInfoFromArray(tags, obj["tag_id"], "value"));
                    console.log(getInfoFromArray(tags, obj["tag_id"], "color"));
                });
                /**
                polygon.on("mouseover", resetHighlight);
                polygon.on("mouseout", highlightFeature);
                **/
                polygon.setStyle({fillColor: color,
                                  weight: 2,
                                  color: 'white',
                                  dashArray: '3',
                                  fillOpacity: 1}).addTo(polygonLayer);
            }
            else {
                console.log(obj);
                console.log("Already paint " + obj["id"] + "object.");
            }
        });
    }

    function loadObjects() {
        var upperLeftX = map.getBounds()._northEast.lng;
        var upperLeftY = map.getBounds()._northEast.lat;
        var lowerRightX = map.getBounds()._southWest.lng;
        var lowerRightY = map.getBounds()._southWest.lat;
        var zoom = map.getZoom();
        var boundingBox = 'SRID=4326;POLYGON ((' + upperLeftX +' ' + upperLeftY + ',' + lowerRightX + ' ' + upperLeftY +',' + lowerRightX + ' ' + lowerRightY + ',' + upperLeftX + ' ' + lowerRightY + ',' + upperLeftX +' ' + upperLeftY + '))';
        var url = '/api/predict/?format=json&polygon=' + encodeURIComponent(boundingBox);
        if(zoom > ZOOM_THRESHOLD){
            loadUrl(url, paintPolygons);
        }
    }

    map.on('zoomend', loadObjects);
    map.on('moveend', loadObjects);

  </script>
{% endblock %}